@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;900&family=DM+Sans:wght@300;400;500;600&display=swap');
@import "tailwindcss";

.grecaptcha-badge { visibility: hidden !important; }

:root {
  --p1: #421869;
  --p2: #995bd5;
  --p3: #2d2926;
  --p4: #ffa719;
  --p5: #4d4d4d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--p3);
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}